  <section id="intro">
    <h2>Welcome to CSE Motors!</h2>
    <% if (message) { %>
      <p class="flash-message"><%= message %></p>
    <% } %>
    <div id="feature-car">
      <picture>
        <source media="(min-width: 768px)" srcset="/images/vehicles/delorean.jpg">
        <img src="/images/vehicles/delorean-tn.jpg" alt="DMC Delorean">
      </picture>
    </div>
    <div class="car-details">
      <h3>DMC Delorean</h3>
      <p>3 Cup holders</p>
      <p>Superman doors</p>
      <p>Fuzzy dice!</p>
      <img src="/images/site/own_today.png" alt="own-today">
    </div>
  </section>
  <div class="web-brake"> 
    <section id="reviews">
      <h2>DMC Delorean Reviews</h2>
      <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
      </ul>
    </section>
    
    <section id="upgrades">
      <h2>Delorean Upgrades</h2>
      <div class="upgrades-grid">
        <div>
          <div class="upgrade-item">
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
          </div>
          <a href="#">Flux Cap</a>
        </div>
        <div>
          <div class="upgrade-item flame">
            <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
          </div>
          <a href="#">Falme Decals</a>
        </div>
        <div>
          <div class="upgrade-item bumper">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
          </div>
          <a href="#">Bumper Stickers</a>
        </div>
        <div>
          <div class="upgrade-item hub">
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
        </div>
          <a href="#">Hub Caps</a>
        </div>
      </div>
    </section>
  </div>
  

