/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 10px;
}

nav{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

#top-header{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 10px;
}
#top-header a{
  color: #333;
  text-decoration: none;
}

.siteName{
  font-size: 30px;
  font-weight: bold;
}
nav ul li{
  color: #fff;
  margin: 0 .8rem;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover{
  color: #190fd9;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* nav ul li {
  margin: 0 1rem;
} */

#intro, #reviews, #upgrades {
  padding: 10px;
  text-align: center;
}

#intro{
  margin: 10px 0;
}

#intro h2{
  text-align: left;
  margin:0 0 20px 0;
}
#feature-car {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feature-car picture {
  width: 100%;
  height: auto;
}

#feature-car picture img{
  width: 80%;
}

.car-details {
  display: grid;
  text-align: left;
  position: absolute;
  gap: 5px;
  background-color: #ffffff99;
  top: 20%;
  color:  cornflowerblue;
}

.car-details h3, p{
  margin: 0;
}

.car-details img{
  width: 40%;
}

#reviews h2, #upgrades h2{
  margin: 0;
  text-align: left;
}
#reviews ul{
  text-align: left;
  padding-left: 20px;
}

#reviews li{
  margin-bottom: 20px;
}

.upgrades-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 20px;
}

.upgrade-item{
  background: cornflowerblue;
  border: solid #333 1px;
  padding: 10px;
  height: 100px;
}

footer{
  padding: 10px;
}

/* clasification page css */
#inv-display{
  padding: 0;
}
#inv-display li{
  list-style: none;
  margin: 15px 15px;
  border: solid .5px #333;
  padding: 10px;
  border-radius: 5px;
}
#inv-display li img{
  width: 100%;
}
.namePrice hr{
  margin: 0;
}
.namePrice h2{
  margin: 5px 0;
}
.namePrice a{
  color: #333;
}

#error404 img{
width: 100%;
}
.error-title{
  position: absolute;
  top: 15%;
  left: 10%;
}
.error-message{
  text-align: center;
}

.vehicle-image{
  width: 100%;
  /* background-color: #fff; */
}
.vehicle-detail img{
  width: 100%;
}
.detailtitle{
  text-align: center;
  margin: 10px;
}
.titlediv{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(217, 251, 251, 0.544);
}

.titlediv p{
  font-size: 25px;
}

.vehicle-color {
  font-weight: bold;
}

.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  margin-left: 5px;
  vertical-align: middle;
}

.vehicle-detail p{
  margin-bottom: 10px;
}

.vehicle-detail{
  border-radius: 5px;
  padding: 10px;
  background-color: aliceblue;
}


@media screen and (min-width: 768px) {
  #feature-car {
    flex-direction: row;
    justify-content: center;
  }

  .car-details {
    margin-left: 2rem;
  }

  .upgrades-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {

  body{
    margin: 100px 0 ;
    background-image: url('/images/site/checkerboard.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
  }
  #wrapper {
    width: 40%;
    margin: 0 auto;
    border: solid 5px cornflowerblue;
    border-radius: 10px;
    min-height: min-content;
    background-color: #fff;
  }

  .car-details {
    top: 30%;
    width: 300px;
  }

  nav ul {
    justify-content: space-around;
  }

  .web-brake{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .upgrades-grid {
    grid-template-columns: 1fr 1fr;
  }
  #reviews {
    order: 2;
  }

  #upgrades {
    order: 1;
  }
  main{
    margin-bottom: 20px;
  }
  #inv-display{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .error-title{
    position: relative;
    margin: 10px 0 0 0;
  }

  .vehicle-detail{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 0 20px;
    gap: 10px;
    align-items: center;
    /* border: solid 1px #333; */
    border-radius: 5px;
    padding: 10px;
    background-color: aliceblue;
  }
  
  /* .vehicle-image{
    width: 100%;
    background-color: #fff;
  }
  .vehicle-detail img{
    width: 100%;
  } */
  .detailtitle{
    text-align: center;
    font-size: 45px;
    margin: 20px;
  }
  
 
  /* .vehicle-color {
    font-weight: bold;
  }
  
  .color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    margin-left: 5px;
    vertical-align: middle;
  } */
}
