<div class="Inventory-maanagement login login-form">
  <h1>Inventory Management</h1>
  <% if (message) { %>
    <p class="flash-message"><%= message %></p>
  <% } %>
  <ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Inventory</a></li>
    <!-- <li><a href="/inv/approval">Approve New Inventory/Classification</a></li> -->
  </ul>

  <h2>Modify Inventory</h2>
  <p class="drop-note">select a classification from the list to see the items belonging to the classification for modification.</p>
  <%- classificationSelect%>
  <table id="inventoryDisplay"></table>
 
</div>
<script src="/js/inventory.js"></script>